.main {
    margin-top: 10%;
    max-width: 40%;
    min-width: 40%;
    margin-left: 25%;
    margin-right: 25%;
    /*border: 1px solid black;*/
    height: 100%;
}

.text {
    padding: 17px;
}